<!-- app/views/profiles/show.html.erb -->
<h1>Profile Page</h1>
<p>Name: <%= "#{@user.first_name} #{@user.last_name}"%></p>
<p>Email: <%= @user.email %></p>
<!-- Add more profile information here -->
