<div class="container my-3">
  <div class="row">
    <div class="col-md-4">
      <!-- TODO: Get profile pic from Claudinary here -->
      <img src="https://images.unsplash.com/photo-1560250097-0b93528c311a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80" alt="Profile Picture" class="img-fluid">
      <a href="#">
        <!-- TODO: Upload profile photo here -->
        <button class="btn btn-primary mt-2 w-100">Edit Profile Picture</button>
      </a>
    </div>

    <div class="col-md-8" data-controller="profile">
      <h2><%= "#{@user.first_name} #{@user.last_name}" %></h2>
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" id="name" value="<%= "#{@user.first_name} #{@user.last_name}"%>" readonly>
      </div>
      <div class="mb-3">
        <label for="bio" class="form-label">Bio:</label>
        <!-- TODO: Add bio to the model -->
        <textarea class="form-control" id="bio" rows="3" readonly>User's Bio</textarea>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" value="<%= @user.email %>" readonly>
      </div>
      <div class="mb-3">
        <!-- TODO: Add phone number to the model -->
        <label for="phone" class="form-label">Phone Number:</label>
        <input type="tel" class="form-control" id="phone" value="[User's Phone Number]" readonly>
      </div>
      <div class="mb-3">
        <!-- TODO: Add location to the model -->
        <label for="location" class="form-label">Location:</label>
        <input type="text" class="form-control" id="location" value="[User's City, Country]" readonly>
      </div>
      <!-- TODO: Send the form here -->
      <div class="btn btn-primary w-100 mb-2" data-action="click->profile#editButton" id="editProfileButton">Edit Profile</div>
      <div class="btn btn-primary w-100" hidden>Save Changes</div>
    </div>
  </div>
  <hr>
  <div class="mt-3">
    <a href="/bookings" class="btn btn-primary w-100">Go to My Bookings</a>
  </div>
</div>
