<div class="container">
  <h1 class="text-center fw-bold">Welcome to Chic Swap</h1>
  <hr>

  <p>The premier destination for high-end design bag rentals.</p>
  <p>Our platform is designed to bring the world of luxury handbags right to your doorstep, offering a seamless and indulgent experience for all bag enthusiasts.</p>

  <h2 class="text-center">Discover Luxury without Compromise</h2>
  <p class="text-justify">At Chic Swap, we believe that style should never be compromised. That's why we've created a unique marketplace where you can access an exquisite collection of top-notch designer bags without the hefty price tag. Our platform is dedicated to providing a convenient and sustainable solution for those who appreciate the beauty of high-end fashion.</p>

  <h2 class="text-center">A Bag for Every Occasion</h2>
  <p class="text-justify">Whether you're attending a glamorous event, embarking on a luxurious vacation, or simply want to elevate your everyday style, Chic Swap has got you covered. With an extensive range of curated bags from renowned fashion houses, you'll find the perfect companion for every occasion.</p>

  <h2 class="text-center">A Seamless Experience</h2>
  <p class="text-justify">We understand that luxury is not just about the product; it's about the entire experience. That's why we've invested in building a user-friendly platform that ensures a hassle-free process from start to finish. Browse through our carefully selected collection, choose the bag that speaks to you, and book it with confidence. Our secure payment system and trusted verification process guarantee a seamless transaction every time.</p>

  <h2 class="text-center">Sustainability Matters</h2>
  <p class="text-justify">At Chic Swap, we also prioritize sustainability. By embracing the concept of sharing and reusing, we contribute to a more eco-friendly fashion industry. Join us in our mission to reduce waste and make a positive impact on the planet, all while indulging in the world of high-end design.</p>

  <h2 class="text-center">Exceptional Customer Service</h2>
  <p class="text-justify">Our team of bag enthusiasts is always here to assist you. We strive to provide exceptional customer service and ensure your Chic Swap experience exceeds your expectations. Whether you need help selecting the perfect bag or have any inquiries along the way, our dedicated support team is just a message away.</p>

  <p class="text-justify">Thank you for choosing Chic Swap, where elegance meets convenience. Embrace the allure of luxury, discover your statement piece, and make a lasting impression with every swap.</p>

</div>
