<%= render 'shared/carousel' %>
<%# Here's some text here %>
<div class="container text-center mt-5">
  <h1>Unveiling the Chic Collection:</h1>
  <p>Fall in Love with Our Latest Bag Designs!</p>
</div>



<div class="container mt-5">
  <div class="row d-flex">
    <div class="row justify-content-evenly">
      <div class="col-4 mt-5">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h2 class="card-title text-center text-shadow">Trend Alert</h2>
            <p class="card-text text-center">Stay Ahead of the Fashion Curve with These Statement Bags!</p>
            <a href="/offers" class="btn offer d-flex justify-content-center">What's on offer?</a>
          </div>
        </div>
      </div>
      <div class="col-2 mt-3 mb-3">
        <div class="card item" style="width: 10rem;">
          <img src="https://images.unsplash.com/photo-1584917865442-de89df76afd3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=735&q=80" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">OFFER TITLE</p>
          </div>
        </div>
      </div>
      <div class="col-2 mt-3 mb-3">
        <div class="card item" style="width: 10rem;">
          <img src="https://images.unsplash.com/photo-1590874103328-eac38a683ce7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=738&q=80" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">OFFER TITLE</p>
          </div>
        </div>
      </div>
      <div class="col-2 mt-3 mb-3">
        <div class="card item" style="width: 10rem;">
          <img src="https://images.unsplash.com/photo-1682745230951-8a5aa9a474a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">OFFER TITLE</p>
          </div>
        </div>
      </div>
      <div class="col-2 mt-3 mb-3">
        <div class="card item" style="width: 10rem;">
          <img src="https://images.unsplash.com/photo-1603009135528-7ad60fc1ffe4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=735&q=80" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">OFFER TITLE</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class= "bg-image col-12 " style="background-image: url('<%= asset_path('flowers-bouquet-white-background.jpg') %>');">
  <div class = "container" >
    <div class = "text-center row" >
      <div class= "col">
        <h1>Rent a bag</h1>
        <h3>Rent luxury bags</h3>
        <p>Welcome to BagBorrow, the premier destination for all your bag rental needs! Whether you're attending a glamorous event, embarking on a stylish vacation, or simply looking to accessorize your everyday outfits, we've got you covered. <br>
          Our website offers a seamless browsing experience, allowing you to explore our diverse range of bags conveniently categorized by style, brand, color, and occasion. From sleek clutches to roomy totes, from iconic designer labels to emerging fashion houses, we have something to suit every taste and preference.<br>
          To ensure the highest quality standards, we meticulously maintain our bag inventory, regularly inspecting and cleaning each piece to guarantee that you receive nothing but the best. Our team of fashion experts is always on hand to provide personalized recommendations and assist you in finding the perfect bag for any occasion.<br>
          Renting a bag from BagBorrow is a hassle-free process. Simply select the bag you desire, choose your rental duration, and proceed to checkout. We offer flexible rental periods, ranging from a few days to several weeks, allowing you to tailor your rental experience to your specific needs. Once your order is confirmed, your chosen bag will be carefully packaged and delivered directly to your doorstep, ready to elevate your style game.<br>
          BagBorrow is committed to sustainability, reducing fashion waste, and promoting a circular economy. By renting instead of buying, you contribute to a more eco-conscious future while still enjoying the luxury and glamour of designer bags.<br>
          Experience the joy of having a rotating wardrobe of designer bags without the hefty price tag. Visit BagBorrow today and discover the perfect bag to complement your unique style. Rent, flaunt, repeat!<br>
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
</style>
