<%= render 'shared/carousel' %>
<%# Here's some text here %>
<div class="container text-center mt-5">
  <h1>Chic Swap</h1>
  <h3>Unveiling the Chic Collection:</h3>
  <p>Fall in Love with Our Latest Bag Designs!</p>
</div>

<%= render 'shared/search' %>

<div class="container mt-5">
  <div class="row d-flex">
    <div class="row justify-content-evenly">
      <div class="col-4 mt-5">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h2 class="card-title text-center text-shadow">Trend Alert</h2>
            <p class="card-text text-center">Stay Ahead of the Fashion Curve with These Statement Bags!</p>
            <a href="/offers" class="btn offer d-flex justify-content-center">What's on offer?</a>
          </div>
        </div>
      </div>
      <div class="col-2 mt-3 mb-3">
        <div class="card item" style="width: 10rem;">
          <img src="https://images.unsplash.com/photo-1584917865442-de89df76afd3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=735&q=80" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">OFFER TITLE</p>
          </div>
        </div>
      </div>
      <div class="col-2 mt-3 mb-3">
        <div class="card item" style="width: 10rem;">
          <img src="https://images.unsplash.com/photo-1590874103328-eac38a683ce7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=738&q=80" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">OFFER TITLE</p>
          </div>
        </div>
      </div>
      <div class="col-2 mt-3 mb-3">
        <div class="card item" style="width: 10rem;">
          <img src="https://images.unsplash.com/photo-1682745230951-8a5aa9a474a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">OFFER TITLE</p>
          </div>
        </div>
      </div>
      <div class="col-2 mt-3 mb-3">
        <div class="card item" style="width: 10rem;">
          <img src="https://images.unsplash.com/photo-1603009135528-7ad60fc1ffe4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=735&q=80" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">OFFER TITLE</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
