.offer {
  background-color: #F9E0BB;
  // background-color: #FFC26F;
  border-radius: 16px;
  &:hover {
    background-color: #FFC26F;
  }
}

.btn-booking {
  background-color: #FFC26F;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition-duration: 0.1s;
  }
}
