.carousel-item {
  height: 700px;
  // object-fit: cover;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel-caption {
    position: absolute;
    left: 200px;
    right: auto;
    top: 60%;
    transform: translateY(-50%);
    text-align: left;
  }
}
