.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.text-justify {
  text-align: justify;
}

.update-photo-text {
  position: absolute;
  top: 590px;
  left: 70px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.text-shadow {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
}

.chic-swap {
  font-family: 'Cormorant', cursive;
}
